<h1>Players</h1>

<!-- Add a search form -->
<%= form_tag(players_path, method: :get, class: "search-form") do %>
  <div class="field">
    <%= text_field_tag :search, params[:search], placeholder: "Search players..." %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Username</th>
      <th scope="col" class="px-6 py-3">Email</th>
      <th scope="col" class="px-6 py-3">Bells</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= link_to player.username, player_path(player), class: "md:hover:text-blue-700" %></td>
        <td class="px-6 py-4"><%= player.email %></td>
        <td class="px-6 py-4"><%= player.bells %></td>
      </tr>
    <% end %>
  </tbody>
</table>
