<h1>Furniture Items</h1>

<%= form_tag(furnitures_path, method: :get, class: "search-form") do %>
  <div class="field">
    <%= text_field_tag :search, params[:search], placeholder: "Search furniture by name..." %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">Variation</th>
      <th scope="col" class="px-6 py-3">Pattern</th>
      <th scope="col" class="px-6 py-3">Price</th>
      <th scope="col" class="px-6 py-3">DIY</th>
    </tr>
  </thead>
  <tbody>
    <% @furniture.each do |furniture| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= link_to furniture.name, furniture_path(furniture), class: "md:hover:text-blue-700" %></td>
        <% if (furniture.variation != nil) then %>
          <td class="px-6 py-4"><%= furniture.variation %></td>
        <% else %>
          <td class="px-6 py-4">N/A</td>
        <% end %>
        <% if (furniture.pattern != nil) then %>
          <td class="px-6 py-4"><%= furniture.pattern %></td>
        <% else %>
          <td class="px-6 py-4">N/A</td>
        <% end %>
        <td class="px-6 py-4"><%= furniture.price %></td>
        <td class="px-6 py-4"><%= furniture.diy %></td>
      </tr>
    <% end %>
  </tbody>
</table>