<h1>Furniture Items</h1>

<%= form_tag(furnitures_path, method: :get, class: "search-form") do %>
  <div class="field">
    <%= text_field_tag :search, params[:search], placeholder: "Search furniture by name..." %>
  </div>
  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Variation</th>
      <th>Pattern</th>
      <th>Price</th>
      <th>DIY</th>
    </tr>
  </thead>
  <tbody>
    <% @furniture.each do |furniture| %>
      <tr>
        <td><%= link_to furniture.name, furniture_path(furniture) %></td>
        <td><%= furniture.variation %></td>
        <td><%= furniture.pattern %></td>
        <td><%= furniture.price %></td>
        <td><%= furniture.diy %></td>
      </tr>
    <% end %>
  </tbody>
</table>