<h1><%= @furniture.name %></h1>


<ul>
  <li>Variation: <%= @furniture.variation %></li>
  <li>Pattern: <%= @furniture.pattern %></li>
  <li>Price: <%= @furniture.price %></li>
  <li>DIY: <%= @furniture.diy %></li>
  <li>Created: <%= @furniture.created_at %></li>
  <li>Updated: <%= @furniture.updated_at %></li>
</ul>
